In [1]:
import pandas as pd

In [2]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("C:/Users/olw09/karthikcase/descrete-optimization/q1/outputs/quantity.csv")

# Save the DataFrame to an Excel file
df.to_excel("C:/Users/olw09/karthikcase/descrete-optimization/q1/outputs/quantity.xlsx", index=False)

In [3]:
file_path = 'C:/Users/olw09/karthikcase/descrete-optimization/q1/foodconsumption.xlsx'
df = pd.read_excel(file_path)
df=df.head(10)
df

,Dishes,Profit(₹),Loss_on_demand(₹),Loss_on_wastage₹,shelf_life(hr)
0,ice cream,20,15,12,3
1,Samosa,20,15,24,5
2,jalebi,20,23,4,7
3,aloo Paratha,20,17,12,8
4,Noodles,20,12,7,2
5,coffee,20,15,12,4
6,pastry,20,22,13,3
7,dosa,20,15,12,5
8,biryani,20,15,17,6
9,chesse ball,20,15,19,7