In [41]:
import pandas as pd

In [42]:
import pandas as pd

# Read the CSV file
df = pd.read_csv("C:/Users/olw09/karthikcase/descrete-optimization/delivery system/outputs/results.csv")

df

,Location,Number of Trucks,Pattern Selected
0,Total Cost,466560.0,NaN
1,0,M :\r\n\r\n - Number of 15 ton trucks: 1.0 \r...,Twice a week
2,1,M :\r\n\r\n - Number of 15 ton trucks: 10.0 \...,Twice a week
3,2,M :\r\n\r\n - Number of 15 ton trucks: 6.0 \r...,Five times a week
4,3,M :\r\n\r\n - Number of 15 ton trucks: -0.0 \...,Twice a week
...,...,...,...
90,95,M :\r\n\r\n - Number of 15 ton trucks: 0.0 \r...,Twice a week
91,96,M :\r\n\r\n - Number of 15 ton trucks: 25.0 \...,Twice a week
92,97,M :\r\n\r\n - Number of 15 ton trucks: 5.0 \r...,Twice a week
93,98,M :\r\n\r\n - Number of 15 ton trucks: 3.0 \r...,Twice a week
94,99,M :\r\n\r\n - Number of 15 ton trucks: 0.0 \r...,Twice a week

In [43]:
# Save the DataFrame to an Excel file
df.to_excel("C:/Users/olw09/karthikcase/descrete-optimization/delivery system/results.xlsx", index=False)